In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('DummyTweetCsv.csv')

In [3]:
df.head()

   id                                              tweet label
0   1  Chinese converting to Islam after realising th...  fake
1   2  11 out of 13 people (from the Diamond Princess...  fake
2   3  COVID-19 Is Caused By A Bacterium, Not Virus A...  fake
3   4  Mike Pence in RNC speech praises Donald Trump’...  fake
4   5  6/10 Sky's @EdConwaySky explains the latest #C...  real

In [4]:
df.to_json("DummyTweetJson.json")